
html { box-sizing: border-box }
*, *:before, *:after { box-sizing: inherit }

*
{
    max-width: 1400px;
    margin: auto;
    font-family: 'Playfair Display', serif;
    font-size: 16px;
    line-height: 1.5em;
    color: rgb(0, 0, 0, .8);
}

#intro h1, #intro p
{
    text-align: center;
}

#about-image
{
    border-radius: 1000px;
    width: 30%;
    display: block;
    justify-content: center;
}

.section-title
{
    width: 100vw;
    font-size: 3em;
    display: flex;
    justify-content: center;
    padding: 20px;
    padding-bottom: 50px;
    margin-bottom: 100px;
    border-bottom: solid hsla(0, 0%, 0%, 0.2) 1px;
}

section
{
    margin-top: -5px;
    padding: 5px;
}

.card
{
    background: white;
    overflow: hidden;
    margin: 50px 50px 100px 50px;
    border-left: solid rgba(215, 175, 128, .25) 5px;
    box-shadow: 13px 32px 36px -14px hsla(0, 0%, 70%, 0.3);
}

.card-content
{
    padding: 50px 100px;
}

#intro .card-content
{
    border: none;
    box-shadow: none;
}

p
{
    text-align: left;
}

h1, h2, h3
{
    text-align: left;
}

h1
{
    font-size: 2.5em;
    font-weight: 200;
}

h2
{
    font-size: 2em;
    font-weight: 200;
}

h3
{
    padding: 1em 0 .5em 0;
    font-size: 1em;
    font-weight: 400;
    color: rgb(0, 0, 0, .8);
}

#subtitle
{
    font-size: 1em;
    text-align: left;
    margin-top: -2em;
    margin-bottom: 2em;
    color: rgb(0, 0, 0, .7);
}

.price
{
    text-align: left;
    padding-top: 30px;
    font-size: 1.4em;
    color: rgb(0, 0, 0, .8);
}

#contact .price
{
    padding: 0px;
}

#qualifications
{
    display: flex;
    justify-content: space-between;
}

#qualifications-images
{
    padding: 50px;
    display: flex;
    flex-direction: column;
}

#qualifications-images > img
{
    padding: 25px;
}

#contact
{
    padding: 50px;
    display: flex;
}

/* map */

#map
{
    width: 100%;
    display: block;
    overflow: hidden;
}

iframe
{
    height: 500px;
    width: 100%;
}

.card, .contact
{
    padding: 0;
}

/* form */

input, textarea
{
    padding: 20px;
    border: none;
    border-bottom: solid rgba(215, 175, 128, .25) 2px;
    display: block;
    width: 100%;
}

[type=submit]
{
    background: hsla(0, 0%, 0%, 0.05);
    padding: 40px;
}

textarea
{
    resize: vertical;
    height: 200px;
}

@media only screen and (max-device-width: 480px)
{
    *
    {
        font-size: 25px;
        line-height: 1.5em;
    }

    #about-image
    {
        width: 50%;
    }

    #qualifications
    {
        flex-direction: column-reverse;
    }

    #qualifications-images
    {
        padding: 100px 25px;
        flex-direction: row;
    }
}
