
html
    { box-sizing: border-box; }

*, *:before, *:after
    { box-sizing: inherit; }

*
{
    font-family: 'Playfair Display', serif;
    font-size: 35px;
    line-height: 1.5em;
    color: rgb(0, 0, 0, .8);
}

.underline
{
    padding: 0;
    width: 70%;
    margin: auto;
    margin-top: -1.75em;
    margin-bottom: 100px;
    height: 1em;
    background: rgba(245, 183, 102, .22);
}

.card
{
    overflow: hidden;
    border-radius: 30px;
    margin: 50px 50px 150px 50px;
    text-align: center;
    border-left: solid rgba(215, 175, 128, .22) 10px;
    background: #f5f5f5;
}

.card-content
{
    padding: 0px 100px 50px 100px;
}

.card-image
{
    border-radius: 13px 13px 0 0;
    width: 100%;
    height: 500px;
    display: block;
    margin: 0;
    padding: 0;
}

p
{
    text-align: left;
}

h1
{
    font-size: 2.5em;
    text-align: left;
    font-weight: 200;
    font-style: italic;
    text-transform:
}

h2
{
    font-size: 2em;
    text-align: left;
    font-weight: 200;
    font-style: italic;
}

#subtitle
{
    font-size: 1em;
    text-align: left;
    margin-top: -2em;
    margin-bottom: 2em;
    color: rgb(0, 0, 0, .7);
    /* font-style: italic; */
}

.price
{
    text-align: left;
    padding-top: 30px;
    font-size: 1.4em;
    font-style: italic;
    color: rgb(0, 0, 0, .8);
}

h3
{
    font-style: italic;
    padding: 1em 0 .5em 0;
    font-size: 1em;
    font-weight: 400;
    color: rgb(0, 0, 0, .8);
    text-align: left;
}

#about-image
{
    background-image: url('images/about.jpg');
    background-size: cover;
}
#aroma-image
{
    background-image: url('images/aroma.jpg');
    background-size: cover;
}
#facial-image
{
    background-image: url('images/facial.jpg');
    background-size: cover;
}
#holistic-image
{
    background-image: url('images/holistic.jpg');
    background-size: cover;
    background-position: left;
}
#reflexology-image
{
    background-image: url('images/reflexology.jpg');
    background-size: cover;
}
#indian-image
{
    background-image: url('images/indian.jpg');
    background-size: cover;
    background-position: 0 -620px;
}
#stone-image
{
    background-image: url('images/stone.jpg');
    background-size: cover;
}
#bamboo-image
{
    background-image: url('images/bamboo.jpg');
    background-position: 0 -100px;
}
#sports-image
{
    background-image: url('images/sports.jpg');
    background-size: cover;
}
#tissue-image
{
    background-image: url('images/tissue.jpg');
    background-size: cover;
}
#fht-image
{
    background-image: url('images/fht.png');
    /* background-size: cover; */
    background-repeat: no-repeat;
    background-position: center;
    background-size: 468px 315px;
}

#contact
{
    background: #f5f5f5;
}

#contact
{
    padding: 100px;
    display: flex;
    justify-content: space-around;
}

#spacer
{
    width: 5px;
    background: rgb(215, 175, 128, .2);
}

#map
{
    filter: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="g"><feColorMatrix type="matrix" values="0.3 0.3 0.3 0 0 0.3 0.3 0.3 0 0 0.3 0.3 0.3 0 0 0 0 0 1 0"/></filter></svg>#g');
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: progid:DXImageTransform.Microsoft.BasicImage(grayScale=1);
    width: 100%;
    display: block;
    border-radius: 22px 22px 0 0;
    overflow: hidden;
}
